<div class="card">
    <div id="post-title">
        <h3>{{comment_text}}</h3>
    </div>
    <div class="container">
        <p class="post-text">By {{user.name}} on {{format_date created_at}}</p>
    </div>
</div>
