<form class="pure-form">
    <fieldset class="pure-group">
        <input type="text" class="pure-input-1-2" id="post-title" placeholder="Title" />
        <br><br>
        <textarea class="pure-input-1-2" id="post-body" placeholder="Text..."></textarea>
    </fieldset>
    <button type="submit" class="pure-button pure-input-1-2 pure-button-default" id="create-post-btn">Post!</button>
</form>

    <script src="/js/writePost.js"></script>