<form class="pure-form">
    <fieldset class="pure-group">
        <input type="text" name="title" class="pure-input-1-2" id="post-title" value="{{post.title}}"/>
        <br><br>
        <textarea class="pure-input-1-2" name="body" id="post-body" value="{{post.body}}"></textarea>
    </fieldset>
    <button type="submit" class="pure-button pure-input-1-2 pure-button-default" id="create-post-btn">Update!</button>
</form>

    <script src="/js/edit-delete-post.js"></script>